<div class="container">

    <div class="row">
        <div (click)="onNoClick()">
            <i class="fa-regular fa-circle-xmark btn btn-outline-dark my-3"></i>
        </div>
        <div class="text-center">
            <img src="./assets/images/logo.svg" alt="" class="w-25">
        </div>


        <table class="table table-striped text-center">

            <thead>
                <th>Id </th>
                <th>Name </th>
                <th>Creation Date</th>
                <th>Modification Date </th>
            </thead>

            <tbody>
                <tr>
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.creationDate | date: "dd/MM/yy: hh:mm a" }}</td>
                    <td>{{ data.modificationDate | date: "dd/MM/yy: hh:mm a" }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>