<section class="vh-100">
    <div class="container-fluid">
        <div class="row ">
            <div>
                <img src="./assets/images/logo.svg" alt="logo">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-5 my-4">
                <div>
                    <h3>Oops.... </h3>
                    <p class="primary h4">Page not found </p>
                    <p>This Page doesn’t exist or was removed! We suggest you back to home.</p>
                    <button class="primary" routerLink="/auth">
                        <i class="fa-solid fa-arrow-left p-2"></i>Back To Home
                    </button>
                </div>
            </div>
            <div class="col-md-7 d-flex flex-column align-items-end">
                <div class="vector">
                    <img src="./assets/images/Group 48101676.svg" alt="" class="w-75">
                </div>
            </div>
        </div>
    </div>
</section>